{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


            <div>

                <footer>
                    <p> Developed by:  Hezam Ali<br>
                        <p>hezam1404@gmail.com</p></p>
                </footer>
            </div>
{% endblock %}
